<div class="w-full mb-2">
  <ng-template #actions let-element>
    <button mat-icon-button>
      <mat-icon color="primary">event</mat-icon>
    </button>
  </ng-template>
  <!-- Paso el template de acciones al componente hijo -->
  <app-global-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actionsTemplate]="actions">
  </app-global-table>
</div>

<div class="flex justify-center pb-4">
  <div class="flex justify-center px-5">
    <button (click)="irCitas()"
      mat-flat-button
      color="accent">
      <mat-icon color="primary">arrow_back</mat-icon>
      Regresar
    </button>
  </div>
</div>
