<h2 mat-dialog-title>Advertencia</h2>

<mat-dialog-content>

  <form [formGroup]="citaForm">
    <!-- Sección de datos del hospital -->
    <div class="mb-4">
      <app-global-card [title]="'Datos del Paciente'">
        <div class="paciente-info">
          <p><strong>Nombre:</strong> {{ data.nombre ?? '' }}</p>
          <p><strong>Fecha de Afiliación:</strong> {{ data.afiliacion ?? '' }}</p>
        </div>
      </app-global-card>
    </div>

    <div class="mb-4">
      <app-global-card [title]="'Datos del Hospital'">
        <div>
          <!-- Select para hospital asignado -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Hospital Asignado</mat-label>
            <mat-select formControlName="hospital">
              <mat-option *ngFor="let hospital of hospitales" [value]="hospital.id">
                {{ hospital.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Select para médico asignado -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Médico Asignado</mat-label>
            <mat-select formControlName="medico">
              <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                {{ medico.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </app-global-card>
    </div>

    <!-- Sección de fecha de la cita -->
    <app-global-card [title]="'Fecha de la Cita'">
      <div class="flex flex-row gap-4">
        <!-- Input para la fecha de la cita -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha de la Cita</mat-label>
          <input matInput formControlName="fechaCita" type="date">
        </mat-form-field>

        <!-- TimePicker para la hora de la cita -->
        <mat-form-field appearance="outline">
          <mat-label>Hora de la Cita</mat-label>
          <input matInput formControlName="horaCita" type="time">
        </mat-form-field>
      </div>
    </app-global-card>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="flex flex-row gap-4">
  <button mat-button color="primary" (click)="onConfirm()">Aceptar</button>
  <button mat-button (click)="onCancel()">Cancelar</button>
</mat-dialog-actions>
