<div class="flex items-start justify-center" style="height: 100vh; overflow: hidden;">
  <div class="p-6 rounded-lg shadow-md w-full max-w-md bg-gray-100" style="margin-top: 120px;">
    <h2 class="text-2xl font-bold mb-6 text-center">Registrar médico</h2>
    <div class="mb-4">
      <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
      <input type="text" id="nombre" name="nombre" ngModel required
             class="mt-1 p-2 border border-gray-300 rounded-md w-full" placeholder="Nombre">
    </div>

    <div class="mb-4">
      <label for="cedula" class="block text-sm font-medium text-gray-700">Cédula profesional</label>
      <input type="text" id="cedula" name="cedula" ngModel required
             class="mt-1 p-2 border border-gray-300 rounded-md w-full" placeholder="Cédula profesional">
    </div>

    <div class="mb-4">
      <label for="especialidad" class="block text-sm font-medium text-gray-700">Especialidad</label>
      <select id="especialidad" name="especialidad" ngModel required
              class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        <option value="" disabled selected>Seleccionar especialidad</option>
        <option value="medicina_general">Medicina General</option>
        <option value="pediatria">Pediatría</option>
        <option value="ginecologia">Ginecología</option>
        <option value="cardiologia">Cardiología</option>
        <option value="dermatologia">Dermatología</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="disponibilidad" class="block text-sm font-medium text-gray-700">Disponibilidad para citas</label>
      <select id="disponibilidad" name="disponibilidad" ngModel required
              class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        <option value="" disabled selected>Seleccionar disponibilidad</option>
        <option value="disponible">Disponible</option>
        <option value="no_disponible">No disponible</option>
      </select>
    </div>

    <div class="flex items-center justify-center">
      <button mat-flat-button color="primary" style="margin-right: 15px;" (click)="irMedicos()">Aceptar</button>
      <button mat-flat-button color="accent" (click)="irMedicos()">Cancelar</button>
    </div>
  </div>
</div>
