<div class="m-4">
  <h1 class="flex justify-center">Gestión de pacientes</h1>
</div>
<div class="w-full mb-2">
  <ng-template #actions let-element>
    <button mat-icon-button (click)="editar(element)" [matTooltip]="'Editar paciente'">
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="eliminar()" [matTooltip]="'Eliminar médico'">
      <mat-icon color="accent">delete</mat-icon>
    </button>
  </ng-template>
  <!-- Paso el template de acciones al componente hijo -->
  <app-global-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actionsTemplate]="actions">
  </app-global-table>
</div>

<div class="flex justify-center pb-4">
  <button (click)="irRegistrarPacientes()"
          mat-flat-button
          color="primary">
    <mat-icon color="accent">add</mat-icon>
    Registrar
  </button>

  <div class="flex justify-center px-5">
    <button (click)="irHome()"
            mat-flat-button
            color="accent">
      <mat-icon color="primary">arrow_back</mat-icon>
      Regresar
    </button>
  </div>
</div>

<div>
  <div class="flex justify-items px-10 py-20">
    <mat-card style="width: 20%; padding: 20px;">
      <div style="margin-bottom: 20px; font-weight: bold; text-align: center;"> <!-- Centrado del título -->
        Tabla de acciones
      </div>
      <div style="margin-bottom: 10px; display: flex;">
        <mat-icon color="primary">edit</mat-icon>
        <span style="margin-left: 8px;">Editar paciente</span>
      </div>
      <div style="margin-bottom: 10px; display: flex;">
        <mat-icon color="accent">delete</mat-icon>
        <span style="margin-left: 8px;">Eliminar paciente</span>
      </div>
    </mat-card>
  </div>
</div>
